.enrollChildContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.messageImageContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #FFF3CC;
    gap: 10px;
    height: 100vh;
    max-height: 100vh;
}

.illustration {
    width: 80%;
    margin-left: 10%;
}

.logo {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.focusText {
    font-size: 2rem;
    color: #444;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}

.focusSubText {
    font-size: 1.5rem;
    color: #444;
    width: 100%;
    text-align: center;
}

.formHeaderContainer {
    flex: 7;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.navigationContainer {
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-radius: 0 0 5px 5px;
    position: sticky;
}

.mpLogo {
    width: 70px;
}

.formTitleContainer {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formTitle {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
}

.formContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.labelText {
    font-size: 0.8rem;
    font-weight: medium;
    opacity: 0.5;
}